In [2]:
# Dependencies
from matplotlib import pyplot as plt
from scipy.stats import linregress
import numpy as np
from sklearn import datasets 
import pandas as pd
import time
import requests
from census import Census
#pd.set_option('display.max_rows', 30000)
# Census API Key
from config import census_key
c = Census(census_key, year=2015)

### Retrieve Crime Data from FBI Crime Database - UCR

In [3]:
#Store file path for crime data in a variable
crime_data = "../Data/Offenses_Known_to_Law_Enforcement_by_State_by_City_2015.xls"

#Read data into dataframe
crime_data_df=pd.read_excel(crime_data)

#Extract the state into a list so all rows in "state" column can have a state value
state = crime_data_df["State"]
states=[]
for s in state:
    if pd.isnull(s):
        states.append(current_state)
    else:
        current_state = s
        states.append(current_state)
        
#Add newly created list into the dataframe and remove the old column
crime_data_df["NEW_STATE"] = states
clean_crime_data_df=crime_data_df[["NEW_STATE", "City", "Population", "Violent Crime"]] 
clean_crime_data_df=clean_crime_data_df.rename(columns={"NEW_STATE":"State"})

#Remove any trailing numbers at the end of state and city names
clean_crime_data_df["State"] = clean_crime_data_df["State"].map(lambda x: x.rstrip("1234567890"))
clean_crime_data_df["City"] = clean_crime_data_df["City"].map(lambda x: x.rstrip("1234567890"))

#Calculate the rate of violent crime per capita
clean_crime_data_df["Violent Crime Rate"] = (clean_crime_data_df["Violent Crime"]/clean_crime_data_df["Population"])*100

clean_crime_data_df=clean_crime_data_df.sort_values("State")

## Sort out the highest and lowest crime rate for each state

In [4]:
#Sort out the highest crime rate for each state
#variable to hold highest violent crime for each state
violent_crime=[]

#variable to track highest violent crime for each state
violent_crime_track=0

#variable to hold starting state for the loop
current_state='ALABAMA'

#variable to append city for highest crime rate
city=[]

#variable to append city for highest crime rate
state=[]

#Loop through each row in dataframe 
for index,row in clean_crime_data_df.iterrows():
    if row['State'] == current_state:
        if row["Violent Crime Rate"]> violent_crime_track:
            highest = row["Violent Crime Rate"] 
            cur_city = row["City"]
            cur_state = row["State"]
            violent_crime_track = highest
               
    else:
        violent_crime.append(highest)
        highest = row["Violent Crime Rate"]
        violent_crime_track = highest
        current_state=row['State']
        city.append(cur_city)
        state.append(cur_state)
        
#append the data for the last state
violent_crime.append(highest)
city.append(cur_city)
state.append(cur_state)

#Place newly created lists into dictionary and convert to DataFrame
new_dict = {'State':state,'City':city,'Violent Crime Rate':violent_crime}
new_df = pd.DataFrame(new_dict)
new_df

,State,City,Violent Crime Rate
0,ALABAMA,Anniston,2.721241
1,ALASKA,Kotzebue,2.633172
2,ARIZONA,Willcox,2.325581
3,ARKANSAS,Osceola,2.063140
4,CALIFORNIA,Industry,33.009709
5,COLORADO,Lakeside,12.500000
6,CONNECTICUT,Hartford,1.140880
7,DELAWARE,Dewey Beach,4.054054
8,DELAWARE,Dewey Beach,1.202568
9,FLORIDA,Florida City,3.155577
10,GEORGIA,College Park,2.589655
11,GEORGIA,College Park,0.243869
12,IDAHO,Kamiah,0.539291
13,ILLINOIS,Cairo,3.811036
14,INDIANA,Elkhart,1.473839
15,IOWA,Keokuk,1.012184
16,KANSAS,Wichita,0.984803
17,KENTUCKY,West Buechel,0.943396
18,LOUISIANA,Monroe,2.601453
19,MAINE,Mexico,0.501157
20,MARYLAND,Baltimore,1.535931
21,MASSACHUSETTS,Aquinnah,1.533742
22,MICHIGAN,Benton Harbor,2.257291
23,MINNESOTA,Hilltop,1.221167
24,MISSISSIPPI,Holly Springs,1.457340
25,MISSOURI,Kinloch,7.023411
26,MONTANA,Ronan City,1.132853
27,NEBRASKA,Sidney,0.603448
28,NEVADA,Las Vegas Metropolitan Police Department,0.920728
29,NEW HAMPSHIRE,Lincoln,0.720721
30,NEW JERSEY,Teterboro,5.633803
31,NEW MEXICO,Cuba,3.150685
32,NEW YORK,Newburgh,1.466681
33,NORTH CAROLINA,Lumberton,1.664674
34,NORTH DAKOTA,Watford City,0.553964
35,OHIO,Toledo,1.128949
36,OKLAHOMA,Ardmore,1.467637
37,OREGON,Hines,0.673401
38,PENNSYLVANIA,Darby,2.645602
39,RHODE ISLAND,Central Falls,0.776197
40,SOUTH CAROLINA,Estill,2.225519
41,SOUTH DAKOTA,Martin,1.128881
42,TENNESSEE,Covington,2.231350
43,TEXAS,Robstown,2.136387
44,UTAH,Brian Head,1.162791
45,UTAH,Brian Head,0.496568
46,VIRGINIA,Petersburg,0.808650
47,WASHINGTON,Fife,0.964530
48,WEST VIRGINIA,Beckley,1.365467
49,WISCONSIN,Milwaukee,1.596103
50,WYOMING,Evansville,0.934903

In [5]:
#Sort out the lowest crime rate for each state
#variable to hold lowest violent crime for each state
violent_crime=[]

#variable to track lowest violent crime for each state
violent_crime_track=100

#variable to hold starting state for the loop
current_state='ALABAMA'

#variable to append city for lowest crime rate
city=[]

#variable to append city for lowest crime rate
state=[]

#Loop through each row in dataframe 
for index,row in clean_crime_data_df.iterrows():
    if row['State'] == current_state:
        if row["Violent Crime Rate"]< violent_crime_track:
            lowest = row["Violent Crime Rate"] 
            cur_city = row["City"]
            cur_state = row["State"]
            violent_crime_track = lowest
               
    else:
        violent_crime.append(lowest)
        lowest = row["Violent Crime Rate"]
        violent_crime_track = lowest
        current_state=row['State']
        city.append(cur_city)
        state.append(cur_state)
        
#append the data for the last state
violent_crime.append(lowest)
city.append(cur_city)
state.append(cur_state)

#Place newly created lists into dictionary and convert to DataFrame
new_dict = {'State':state,'City':city,'Violent Crime Rate':violent_crime}
new_df = pd.DataFrame(new_dict)
new_df

             State               City  Violent Crime Rate
0          ALABAMA          Lake View            0.000000
1           ALASKA            Skagway            0.000000
2          ARIZONA             Kearny            0.000000
3         ARKANSAS            Norfolk            0.000000
4       CALIFORNIA               Ross            0.000000
5         COLORADO             Mancos            0.000000
6      CONNECTICUT            Redding            0.000000
7         DELAWARE              Viola            0.000000
8         DELAWARE              Viola            1.202568
9          FLORIDA  Melbourne Village            0.000000
10         FLORIDA  Melbourne Village            0.000000
11         FLORIDA  Melbourne Village            0.243869
12           IDAHO           Aberdeen            0.000000
13        ILLINOIS    Old Shawneetown            0.000000
14         INDIANA      North Liberty            0.000000
15            IOWA       Williamsburg            0.000000
16          KANSAS            Oberlin            0.000000
17        KENTUCKY        Nortonville            0.000000
18       LOUISIANA         Montpelier            0.000000
19       LOUISIANA         Montpelier            0.000000
20        MARYLAND             Oxford            0.000000
21   MASSACHUSETTS           Plympton            0.000000
22        MICHIGAN          Zilwaukee            0.000000
23        MICHIGAN          Zilwaukee            0.000000
24     MISSISSIPPI           Florence            0.000000
25        MISSOURI            Newburg            0.000000
26         MONTANA   West Yellowstone            0.000000
27        NEBRASKA        Plattsmouth            0.000000
28        NEBRASKA        Plattsmouth            0.066094
29        NEBRASKA        Plattsmouth            0.000000
30      NEW JERSEY    Oxford Township            0.000000
31      NEW JERSEY    Oxford Township            0.000000
32        NEW YORK         Olive Town            0.000000
33        NEW YORK         Olive Town            0.000000
34    NORTH DAKOTA        Powers Lake            0.000000
35            OHIO          Peninsula            0.000000
36        OKLAHOMA             Oilton            0.000000
37          OREGON              Malin            0.000000
38          OREGON              Malin            0.000000
39    RHODE ISLAND          Jamestown            0.000000
40  SOUTH CAROLINA               Lane            0.000000
41  SOUTH CAROLINA               Lane            0.000000
42       TENNESSEE            Puryear            0.000000
43           TEXAS          Oak Ridge            0.000000
44            UTAH        Spring City            0.000000
45         VERMONT          Pittsford            0.000000
46        VIRGINIA           Quantico            0.000000
47      WASHINGTON            Reardan            0.000000
48   WEST VIRGINIA       West Liberty            0.000000
49       WISCONSIN    Oconomowoc Lake            0.000000
50         WYOMING       Diamondville            0.000000

In [ ]:
clean_crime_data_df.agg({'Violent Crime Rate' : ['max', 'min']})